<div class="container">
  <div class="menu">
    <div class="links">
      <LinkTo @route="with-out-ember-concurrency">
        With out ember concurrency
      </LinkTo>
      <LinkTo @route="with-ember-concurrency">
        With ember concurrency
      </LinkTo>
      <LinkTo @route="audio-note">
        Audio Note
      </LinkTo>
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>