<div class="jumbo">
  <div class="right tomster">

    <br/><br/>

    <button {{action 'toggleSearch'}}>Toggle Component</button>

    <br/><br/>
    <h2>With ember concurrency</h2>
    
    {{#if showSearch}}
      <AutoSearchWithConcurrency />
    {{/if}}
  </div>
</div>